@import url('https://rsms.me/inter/inter-ui.css');

/* https://palx.jxnblk.com/3e54ff.css */
:root {
  --base: #000;
  --black: #3f3f3f;
  --gray0: #f9f9f9;
  --gray1: #ededed;
  --gray2: #e0e0e0;
  --gray3: #d2d2d2;
  --gray4: #c3c3c3;
  --gray5: #b2b2b2;
  --gray6: #9f9f9f;
  --gray7: #888888;
  --gray8: #6c6c6c;
  --gray9: #3f3f3f;
  --blue: #067df7;
  --green: #00A995;
  --red: #F23342;
  /* theme */
  --primary-color: var(--base);
  --secondary-color: var(--blue);
  --bg-color: #fff;
  --serif-font: 'Nunito', sans-serif;
  --sans-serif-font: 'Nunito Sans', sans-serif;
  --code-font: 'Roboto Mono', monospace;
  --border-color: var(--gray2);
}

::selection {
  background: #f9e4ac;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #f9e4ac;
  /* Gecko Browsers */
}

* {
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: var(--sans-serif-font);
  font-size: 16px;
  letter-spacing: 0;
  margin: 0;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

img[src*='#gh-dark-mode-only'] {
  display: none;
}

main {
  display: block;
  position: relative;
  width: 100vw;
  height: 100%;
  z-index: 0;
}

.sidebar {
  font-family: var(--sans-serif-font);
  padding-top: 72px;
  padding-bottom: 40px;
  padding-left: 36px;
  padding-right: 0;
  width: 300px;
  transition: transform 0.3s ease-out;
  overflow: auto;
  height: 100vh;
}

.sidebar .sidebar-nav {
  line-height: 2em;
  padding-bottom: 40px;
}

.sidebar li {
  margin: 6px 0 6px 15px;
}

.sidebar ul {
  margin: 0;
  padding: 0;
}

.sidebar ul ul {
  margin-left: 15px;
}

.sidebar ul,
.sidebar ul li {
  list-style: none;
}

.sidebar ul li a {
  color: var(--primary-color);
  display: block;
  font-size: 14px;
  text-decoration: none;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

.sidebar ul li.active>a {
  border-right: 2px solid var(--primary-color);
  color: var(--primary-color);
  font-weight: 700;
}

.sidebar::-webkit-scrollbar {
  width: 4px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 4px;
}

.sidebar:hover::-webkit-scrollbar-thumb {
  background: var(--gray-100);
}

.sidebar {
  position: fixed;
}

.sidebar-toggle {
  display: none;
}

.content {
  padding-top: 60px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 300px;
  position: absolute;
  transition: left 0.25s ease;
}

.markdown-section {
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 15px 40px;
  position: relative;
}

.markdown-section>* {
  box-sizing: border-box;
  font-size: inherit;
}

.markdown-section> :first-child {
  margin-top: 0 !important;
}

.markdown-section table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

.markdown-section table thead tr {
  text-align: left;
}

.markdown-section td,
.markdown-section th {
  border: 1px solid var(--border-color);
  padding: 0.5rem;
}

@media print {
  .github-corner,
  .sidebar,
  .sidebar-toggle {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    position: fixed;
  }

  .github-corner svg {
    height: 62px !important;
    width: 62px !important;
  }

  .sidebar {
    left: -300px;
  }

  .sidebar-toggle {
    cursor: pointer;
    display: inherit;
    border: 0;
    outline: none;
    padding: 0 10px;
    left: 6px;
    transition: opacity 0.3s;
    z-index: 4;
    position: fixed;
    top: 0;
    height: 62px;
    width: 100%;
    background: var(--bg-color);
  }

  .sidebar-toggle span {
    background-color: var(--primary-color);
    display: block;
    margin-bottom: 5px;
    width: 24px;
    height: 3px;
  }

  body.sidebar-toggle {
    display: none;
  }

  body.close .sidebar,
  body.close .content  {
    transform: translateX(280px);
  }

  body.close .sidebar-toggle {
    background: var(--background-color);
    transition: background-color 0.3s;
    width: 284px;
  }

  main {
    height: auto;
    overflow-x: hidden;
  }

  .content {
    left: 0;
    max-width: 100vw;
    position: static;
    padding-top: 20px;
    transition: transform 0.25s ease;
  }

  .github-corner:hover .octo-arm {
    animation: none;
  }
}

.sidebar,
body {
  background-color: var(--bg-color);
  color: var(--primary-color);
}

.markdown-section :is(h1, h2, h3, h4, h5) {
  font-family: var(--serif-font);
}

.markdown-section :is(h1, h2, h3, h4, h5) a:hover::after {
  content: '#';
  position: relative;
  margin-left: 6px;
  display: inline-block;
}

.markdown-section a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}

.markdown-section :is(li, p, td) a {
  color: var(--secondary-color);
}

.markdown-section :is(li, p) a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.markdown-section h1 {
  font-size: 2rem;
  margin: 4rem 0 1rem;
}

.markdown-section h2 {
  font-size: 1.75rem;
  margin: 3.5rem 0 1rem;
}

.markdown-section h3 {
  font-size: 1.5rem;
  margin: 3rem 0 1rem;
}

.markdown-section h4 {
  font-size: 1.25rem;
  margin: 2.5rem 0 1rem;
}

.markdown-section h5 {
  font-size: 1rem;
}

.markdown-section p {
  margin: 1.2em 0;
}

.markdown-section :is(p, ul) {
  line-height: 1.8rem;
  word-spacing: 0.05rem;
}

.markdown-section ul li {
  margin-bottom: 10px;
}

.markdown-section ul {
  padding-left: 2rem;
}

.markdown-section blockquote {
  border-left: 4px solid var(--primary-color);
  margin: 2em 0;
  padding-left: 20px;
}

.markdown-section blockquote p {
  margin-left: 0;
  padding: 12px 0;
}

.markdown-section :is(code, pre, img) {
  border-radius: 4px;
}

.markdown-section code {
  border: 1px solid var(--border-color);
  font-family: var(--code-font);
  font-size: 0.75rem;
  padding: 3px 5px;
  white-space: nowrap;
}

.markdown-section pre {
  border: 1px solid var(--border-color);
  line-height: 1.5rem;
  margin: 1.2em 0;
  overflow: auto;
  padding: 0 0.7rem;
  position: relative;
  word-wrap: normal;
}

.markdown-section pre::after {
  color: var(--gray6);
  content: attr(data-lang);
  font-size: 0.6rem;
  height: 15px;
  line-height: 15px;
  padding: 5px 10px 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.markdown-section :is(pre, pre > code) {
  -moz-osx-font-smoothing: initial;
  -webkit-font-smoothing: initial;
}

.markdown-section pre>code {
  border: 0;
  display: block;
  font-family: var(--code-font);
  font-size: 0.8rem;
  line-height: inherit;
  margin: 0 2px;
  max-width: inherit;
  overflow: inherit;
  padding: 1.25em 5px;
  white-space: inherit;
}

.markdown-section :is(code::after, code::before) {
  letter-spacing: 0.8px;
  letter-spacing: 0.05rem;
}

.token.keyword {
  color: #ff0078;
}

.token:is(.class-name, .function, .number) {
  color: var(--blue);
}

.token.string {
  color: var(--green);
}

.token:is(.boolean, .constant) {
  color: var(--red);
}

.token.comment {
  color: var(--gray7);
}

/* github corner */

@keyframes b {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

.github-corner svg {
  z-index: 1;
  border-bottom: 0;
  position: fixed;
  right: 0;
  text-decoration: none;
  top: 0;
  color: white;
  fill: black;
  height: 80px;
  width: 80px;
}

.github-corner:hover svg .octo-arm {
  opacity: 1;
  animation: b 560ms ease-in-out;
}
